@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-variables.woff2') format('woff2-variations'),
         url('assets/fonts/Poppins-variables.woff') format('woff-variations');
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clir-primary-blue: hsl(212, 86%, 64%);

    --clr-neutral-grey-400: hsl(234, 12%, 34%);
    --clr-neutral-grey-500: hsl(212, 6%, 44%);
    --clr-neutral-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-neutral-white);
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------- */
/*      SECTION AND CONTAINER       */
/* -------------------------------- */

.features {
    width: 100%;
    height: 100%;
    margin-block: 50px;
}

.features .container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-inline: 30px;
    max-width: 500px;
    align-items: center;
}

/* -------------------------------- */
/*          FEATURE TITLE           */
/* -------------------------------- */

.feature-title {
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 200;
    text-align: center;
    line-height: 1.4;
    color: var(--clr-neutral-grey-400);
}

.bold-highlight {
    font-weight: 600;
}

.features-text p {
    text-align: center;
    margin-block-start: 10px;
    color: var(--clr-neutral-grey-400);
}

/* -------------------------------- */
/*          FEATURES CARD           */
/* -------------------------------- */

.features-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 0 auto;
}

/* -------------------------------- */
/*          CARD STYLING            */
/* -------------------------------- */

.card {
    background-color: var(--clr-neutral-white);
    max-width: 500px;
    padding: 35px;
    padding-block-end: 50px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 22px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 22px 6px rgba(0, 0, 0, 0.212);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 0;
}

.supervisor::before {
    background-color: var(--clr-primary-cyan);
}

.team-builder::before {
    background-color: var(--clr-primary-red);
}

.karma::before {
    background-color: var(--clr-primary-orange);
}

.calculator::before {
    background-color: var(--clir-primary-blue);
}

.card h2 {
    color: var(--clr-neutral-grey-500);
    margin-block-end: 5px;
}

.card p {
    color: var(--clr-neutral-grey-400);
    margin-block-end: 35px;
}

.card img {
    width: 70px;
    align-self: flex-end;
}

@media(min-width: 768px) {
    .features .container {
        max-width: 85vw;
    }

    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media(min-width: 1200px) {
    .features-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        max-width: 400px;
    }

    .supervisor {
        grid-column: 1;
        grid-row: 1 / 3;
        align-self: center;
    }

    .team-builder {
        grid-column: 2;
        grid-row: 1;
    }

    .karma {
        grid-column: 2;
        grid-row: 2;
    }

    .calculator {
        grid-column: 3;
        grid-row: 1 / 3;
        align-self: center;
    }

    .features-text {
        max-width: 500px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .card, 
    .card:hover {
        transform: none; 
    }
}